body {
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.wrapper {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.logo img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 50%;

}

.name {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.form-field {
  margin-bottom: 15px;
  position: relative;
}

.form-field span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

.form-field input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.btn {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.fs-6 a {
  color: #007bff;
  text-decoration: none;
}

.fs-6 a:hover {
  text-decoration: underline;
}

.message {
  margin-top: 20px;
  color: #e74c3c;
}

.buttonlogin{
  background-color: #08a0e9;
  color: white;
  border: #08a0e9;
}